# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [20]:
import numpy as np
import pandas as pd
from io import BytesIO
import requests

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [91]:
r = requests.get('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv')
data = r.content
chipo = pd.read_csv(BytesIO(data), index_col=0, delimiter = ('\t'))
chipo = pd.DataFrame(chipo)
chipo.head(()

,quantity,item_name,choice_description,item_price
order_id,,,,
1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,Izze,[Clementine],$3.39
1,1,Nantucket Nectar,[Apple],$3.39
1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. How many products cost more than $10.00?

In [129]:
exp_10 = chipo[chipo['item_price'].apply(lambda x: float(x[1:])) > 10].nunique()[0]
print(f" There are {exp_10} products cost more than $10.00" )

 There are 8 products cost more than $10.00

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [47]:
chipo[['item_name', 'item_price']].head()

                                      item_name item_price
order_id
1                  Chips and Fresh Tomato Salsa     $2.39
1                                          Izze     $3.39
1                              Nantucket Nectar     $3.39
1         Chips and Tomatillo-Green Chili Salsa     $2.39
2                                  Chicken Bowl    $16.98

### Step 6. Sort by the name of the item

In [49]:
chipo.sort_values('item_name').head(20)

          quantity          item_name choice_description item_price
order_id
1360             2  6 Pack Soft Drink        [Diet Coke]    $12.98
148              1  6 Pack Soft Drink        [Diet Coke]     $6.49
749              1  6 Pack Soft Drink             [Coke]     $6.49
754              1  6 Pack Soft Drink        [Diet Coke]     $6.49
1076             1  6 Pack Soft Drink             [Coke]     $6.49
1373             1  6 Pack Soft Drink             [Coke]     $6.49
230              1  6 Pack Soft Drink        [Diet Coke]     $6.49
774              1  6 Pack Soft Drink        [Diet Coke]     $6.49
776              1  6 Pack Soft Drink             [Coke]     $6.49
784              1  6 Pack Soft Drink        [Diet Coke]     $6.49
1537             1  6 Pack Soft Drink             [Coke]     $6.49
129              1  6 Pack Soft Drink           [Sprite]     $6.49
798              1  6 Pack Soft Drink        [Diet Coke]     $6.49
481              1  6 Pack Soft Drink             [Coke]     $6.49
1554             1  6 Pack Soft Drink        [Diet Coke]     $6.49
465              1  6 Pack Soft Drink             [Coke]     $6.49
1558             1  6 Pack Soft Drink        [Diet Coke]     $6.49
849              1  6 Pack Soft Drink             [Coke]     $6.49
1196             1  6 Pack Soft Drink        [Diet Coke]     $6.49
1803             1  6 Pack Soft Drink         [Lemonade]     $6.49

### Step 7. What was the quantity of the most expensive item ordered?

In [137]:
chipo['quantity'][chipo['item_price'].apply(lambda x: float(x[1:])) == chipo['item_price'].apply(lambda x: float(x[1:])).max()]#chipo_exp

order_id
1443    15
Name: quantity, dtype: int64

### Step 8. How many times were a Veggie Salad Bowl ordered?

In [139]:
chipo['quantity'][chipo['item_name'] == 'Veggie Salad Bowl'].sum()

18

### Step 9. How many times people orderd more than one Canned Soda?

In [152]:
(chipo['quantity'][chipo['item_name'] == 'Canned Soda'] > 1).sum()

20